<div class="container-fluid">
  <%= tr_show :comment, :commenter, comment.commenter %>
  <%= tr_show :comment, :body, comment.body %>
</div>

<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-sm-12">
      <%= link_to "Delete", [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
