<% @page_title = 'Ajax Datatable' %>

<table id="ajax-datatable" class="table"
  data-controller="datatable"
  data-datatable-config="<%= {
    debug: true,
    serverSide: true,
    ajax: datatable_articles_path,
    dom: 'lfriptrip',
    columns: [
      {title: 'Title', data: 'title', width: "30%" },
      {title: 'Text', data: 'text', },
    ],
  }.to_json %>"
>
</table>
