<% @page_title = 'Bootstrap' %>

<div class="bootstrap-demo">

  <h3>Customizing Bootstrap Variables</h3>

  <p>
  Here is the list of all <a href="https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss">Bootstrap variables</a> which can be customized.
  </p>

  <p>
    <span class="variables">
      Customize Bootstrap variables. Setting
      <span class="cyan">$cyan</span>
      will also set
      <span class="info">$info</span>.
    </span>
  </p>

  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        1 of 3
      </div>
      <div class="col-md-auto">
        Variable width content
      </div>
      <div class="col col-lg-2">
        3 of 3
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col-md-auto">
        Variable width content which is wider
      </div>
      <div class="col col-lg-2">
        3 of 3
      </div>
    </div>
  </div>

  <hr />

  <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

</div>
