<% @page_title = 'Bootstrap' %>

<div class="bootstrap">

  <p>
  <span class="variables">
    Customize Bootstrap variables. Setting
    <span class="cyan">$cyan</span>
    will also set 
    <span class="info">$info</span>.
  </span>
  </p>

  <div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
</div>

</div>
