<% @page_title = 'Custom Datatable Controller' %>

<table class="table" data-controller="custom" >
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tenzin</td>
      <td>Gyatso</td>
    </tr>
    <tr>
      <td>Barak</td>
      <td>Obama</td>
    </tr>
    <tr>
      <td>Nelson</td>
      <td>Mandela</td>
    </tr>
  </tbody>
</table>
