<% @page_title = 'Particles.js Controller' %>

<div id="particles-image-src"
  style="height: 150px; background-color: #aaaaff;"
  data-controller="particles"
  data-particles-config="<%= {
    particles: {
      shape: {
        type: 'image',
        image: {
          src: image_path('jg-logo-50x50.png')
        },
      },
      size: {
        value: 10,
        random: true,
      },
    },
  }.to_json %>"
>
</div>

<p></p>

<p>
  This demonstrates the
  <a href="https://github.com/jgorman/stimulus-particles.js">
    stimulus-particles.js</a> controller in action.
</p>

<p>
  Click inside of the particles div to create more particles.
  If you create enough new particles the animation will noticeably slow down
  due to having so many to track.
</p>

<p>
  The banner at the top of every page is running a particles instance
  and another instance is running in this demo page.
</p>

<p>
  The controller takes the Particles configuration from the containing div
  on the page. This allows us to pass parameters such as the webpack
  image_path from rails to the Particles instance.
</p>

<p>
  Under Turbolinks, navigating away from a Particles page and back without
  cleaning up the running Particles instance would result
  in multiple AnimationsFrames still running in the background, chewing
  up CPU. The Particles controller takes care of the configuration,
  the set up and the clean up.
</p>
