<div class="container">

  <% @page_title = "Rails 6 Configuration" %>


  <h4 class="mt-4">jQuery and Font Awesome</h4>
  <!--             ======================= -->

  <script>
    $(() => { $('.jquery-test').html("jQuery is working!") })
  </script>

  <p class="jquery-test">jQuery is not working.</p>
  <p>font-awesome is <icon class="fa fa-thumbs-o-up" /></p>


  <h4 class="mt-4">Turbolinks</h4>
  <!--             ========== -->

  <p>
    <a href="https://github.com/turbolinks/turbolinks">Turbolinks Doc</a>
  </p>

  <p>The page loaded counter is <span id="page-ready">0</span>.</p>

  <p id="turbolinks-result">Navigate to another page, then back here.
      If nothing changes, Turbolinks is not running because each visit is
      a full page load with a fresh new window object and a fresh
      page loaded counter.</p>

  <p>The page loaded counter goes up by 2 per visit under Turbolinks.
     Turbolinks first shows the page preview from cache. When the
     new page arrives from the server, that replaces the cached
     copy.</p>

  <script>
    $(() => {
      window.pageready = window.pageready ? window.pageready + 1 : 1
      $('#page-ready').html(window.pageready)
      if (window.pageready > 1) {
        $('#turbolinks-result').html('Turbolinks is running!')
      }
    })
  </script>


  <h4 class="mt-4">Flatpickr Date Picker</h4>
  <!--             ===================== -->

  <p>
    <a href="https://flatpickr.js.org">Flatpickr Doc</a>
  <br />
    <a href="https://github.com/adrienpoly/stimulus-flatpickr">Stimulus Flatpickr Doc</a>
  <br />
    <a href="https://github.com/adrienpoly/rails_stimulus_flatpickr">Stimulus Flatpickr Rails Demo</a>
  </p>

  <%= form_with do |f| %>
    Enter date:
    <%= f.text_field :start_time,
      data: {
        controller: "flatpickr",
        flatpickr_date_format: "Y-m-d H:i",
        flatpickr_enable_time: true,
        flatpickr_min_date: Time.zone.now
      } %>
  <% end %>
  <p class="mt-5" />


  <h4 class="mt-4">Kaminari Pagination</h4>
  <!--             =================== -->

  <p>
    <a href="https://github.com/kaminari/kaminari">Kaminari Doc</a>
  </p>

  <p>
    See <a href="../../articles">Kaminari pagination</a> in action.
  </p>


  <h4 class="mt-4">Datatables.net</h4>
  <!--             ============== -->

  <table id="rails6-datatable"
    class="table table-hover table-striped table-bordered"
    data-controller="datatable"
    data-datatable-config="<%= { debug: true }.to_json %>"
  >
    <thead>
      <tr><th>First</th><th>Last</th></tr>
    </thead>
    <tbody>
      <tr><td>Tenzin</td><td>Gyatso</td></tr>
      <tr><td>Barak</td><td>Obama</td></tr>
      <tr><td>Nelson</td><td>Mandela</td></tr>
    </tbody>
  </table>


  <h4 class="mt-4">Bootstrap Tooltips</h4>
  <!--             ================== -->

  <p><a href="https://getbootstrap.com/docs/4.0/components/tooltips/">Tooltips Doc</a></p>

  <script>
    $(() => { $('[data-toggle="tooltip"]').tooltip() })
  </script>

  <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Tooltip on top
  </button>

  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
    Tooltip on right
  </button>


  <h4 class="mt-4">Bootstrap Modal</h4>
  <!--             =============== -->

  <p><a href="https://getbootstrap.com/docs/4.0/components/modal/">Modal Doc</a></p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Bootstrap modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bootstap modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Webpacker is working!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>
