/* * * * * * * * * * * *
 * General site settings
 */

$headers:   #aaaaaa;
$labels:    #aaaaaa;
$nav-bar:   #dddddd;

h1, h2, h3, h4, h5 {
  text-align: center;
  color: $headers;
}

#nav-bar
{
  background-color: $nav-bar;
}

form label {
  color: $labels;
  font-weight: bold;
}
