/* * * * * * * * * * * *
 * General site settings
 */

$headers:   #aaaaaa;
$labels:    #aaaaaa;
$nav-bar:   #dddddd;

h1, h2, h3, h4, h5 {
  text-align: center;
  color: $headers;
}

p.page-notice {
  color: green;
}

p.page-alert {
  color: red;
}

#nav-bar
{
  background-color: $nav-bar;

  .forbidden {
    display: none;
  }
}

form label {
  color: $labels;
  font-weight: bold;
}

// Datatable controls left aligned.
div.dataTables_filter,
div.dataTables_info {
  text-align: left !important;
}
ul.pagination {
  justify-content: flex-start !important;
}
