
// Customize Bootstrap variables.
$cyan: #ff00ff;

// Import the recompiled Bootstrap variables.
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Non-bootstrap site variables.
$headers:   #aaaaaa;
$labels:    #aaaaaa;
$nav-bar:   #dddddd;
