
// Customize Bootstrap variables.
$cyan: #00ff00;

// Bootstrap variables.
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
@import '~bootstrap/scss/bootstrap';

// Site variables.
$headers:   #aaaaaa;
$labels:    #aaaaaa;
$nav-bar:   #dddddd;
