// welcome controller page styles here.

.welcome {

  p {
    color: blue;
  }

}

.bootstrap {

  .variables {

    .cyan {
      background-color: $cyan;
    }

    .info {
      background-color: $info;
    }

  }

  .row {
    div {
      background-color: $teal;
      border: 1px solid black;
    }
  }

}
