<div id="nav-bar">

  <%= link_to('Home', root_path,
              class: "nav-item nav-link") %>

  <%= link_to('HOME', '/welcome/index',
              class: "nav-item nav-link") %>

  <%= link_to('Rails 6 Config', '/welcome/rails6-config',
              class: "nav-item nav-link") %>

</div>
